.page-header
  %h1
    Project Matching
    = link_to 'New Matching', project_matching_new_path, :class => 'btn btn-success pull-right'
  .help-block Click an Matching to see more information


%table.table.table-condensed#apps_table
  %thead
    %tr
      %th 
        %h3
          Matching Name
      %th
        %h3
          Status
  %tbody
    - @mockMatchings.each do |mockMatching|
      %tr
        %td{style: 'white-space: nowrap'}
          = link_to mockMatching[0], project_matching_new_path,  :class => 'btn btn-primary'
        %td 
          - if mockMatching[1] == "In Progress" then
            = link_to mockMatching[1], project_matching_new_path, :class => 'btn btn-danger'
          - else
            = link_to mockMatching[1], project_matching_new_path, :class => 'btn btn-success'

