!!!
%html
  %head
    = stylesheet_link_tag "matching"

  - if @mockMatching == "1" then
    %h1
      AJAX Matching #{@mockMatching}
    %body
      %form 
        %label{:for => 'name'} Preference for A, B, C projects:
        %input{:type => 'text', :id => "input"}

    :javascript
      $("#input").on('input', function() {
        $.ajax({
          url: "store",
          data: {"preference": $("#input").val()},
          type: "POST",
          success: function (data) {
            console.log("success AJAX")
          }
        });
      })
  - else 
    %h1
      Sortable Matching #{@mockMatching}
    %body
      %div.card.mt-5
        %div.card-body
          %h3
            Current Order
            %ul.mt-5{:style => "list-style: none; padding-left: 0;", :id => "matching"}
              %li
                %div.card.mb-3
                  %div.card-header Project 1
                  %div.card-body
                    %blockquote.blockquote.mb-0
                      %p This project is about one thing...
              %li 
                %div.card.mb-3
                  %div.card-header Project 2
                  %div.card-body
                    %blockquote.blockquote.mb-0
                      %p This Project is about another thing...
              %li 
                %div.card.mb-3
                  %div.card-header Project 3
                  %div.card-body
                    %blockquote.blockquote.mb-0
                      %p This Project is about future thing...
    :javascript
      var el = document.getElementById('matching');
      var sortable = new Sortable(el, {
        animation: 150,
        ghostClass: 'blue-background-class'
      });

      $(".matching").on('matching', function() {
        $.ajax({
          url: "store",
          data: {"preference": $("#input").val()},
          type: "POST",
          success: function (data) {
            console.log("success AJAX")
          }
        });
      })