.sidenav {
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 3rem; /* Stay at the top */
    left: 20;
    padding-top: 60px;
    padding-left: 2rem;
    margin-top: 0px;

}
  
.container {
    margin-left: 200px; /* Same as the width of the sidebar */
}
  