a:hover {
    text-decoration:none;
}

.text-light {
    border: 1px solid transparent;
    padding: 0.7rem;

}

.text-light-nav:hover {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.4rem;
    padding: 0.7rem;
}

.search-input {
    height: 200;
    border: none;
    border: 1px solid rgb(36, 7, 7);
    border-radius: 0.5rem;
    padding: 0.3rem;
}

.search-btn:hover {
    border: 1px solid rgb(255, 255, 255);
}