body { padding: 2ex; }
​
a { color: #2b4988}


.btn-success {background-color: #2d8809}
.btn-info {background-color: #298078}
.btn-danger {background-color: #d80044}
​
.dead { background-color: #ffcccc; }
.development { background-color: #b3e9ff; }
.in_use  { }
.in_use_and_wants_improvement  { background-color: #b3ffb3;  }
.inactive_but_wants_improvement  { background-color: #ffff99; }
.defunct { background-color: #ffcccc; }
.pending { background-color: #ffd0a7; }
​
.vetting_pending { background-color: #eecff5}
.on_hold { background-color: #eecff5 }
.staff_approved { background-color: #eecff5 }
.customer_informed { background-color: #eecff5 }
.customer_confirmation_received { background-color: #eecff5 }
.declined_by_staff { background-color: #eecff5 }
.declined_by_customer { background-color: #eecff5 }
.declined_by_customer_available_next_sem { background-color: #eecff5 }
.back_up { background-color: #eecff5 }
​
.contact_status { background-color: #e0f0ff; }
.app_functionality { background-color: #ffca9d; }
.general { background-color: #ffcccc; }
.vetting { background-color: #ffb8f0; }

