body { padding: 2ex; }

a { color: #2b4988}

.btn-success {background-color: #2d8809; }
.label-success {background-color: #2d8809; }
.alert-success {background-color: #2d8809; color: #ffffff }
.btn-info {background-color: #298078; }
.label-info {background-color: #298078; }
.alert-info {background-color: #298078; color: #ffffff }
.btn-danger {background-color: #d80044; }
.label-danger {background-color: #d80044; }
.alert-danger {background-color: #d80044; color: #ffffff }

.dead { background-color: #ffcccc; }
.development { background-color: #b3e9ff; }
.in_use  { }
.in_use_and_wants_improvement  { background-color: #b3ffb3;  }
.inactive_but_wants_improvement  { background-color: #ffff99; }
.defunct { background-color: #ffcccc; }
.pending { background-color: #ffd0a7; }

.vetting_pending { background-color: #eecff5}
.on_hold { background-color: #eecff5 }
.staff_approved { background-color: #eecff5 }
.customer_informed { background-color: #eecff5 }
.customer_confirmation_received { background-color: #eecff5 }
.declined_by_staff { background-color: #eecff5 }
.declined_by_customer { background-color: #eecff5 }
.declined_by_customer_available_next_sem { background-color: #eecff5 }
.back_up { background-color: #eecff5 }

.contact_status { background-color: #e0f0ff; }
.app_functionality { background-color: #ffca9d; }
.general { background-color: #ffcccc; }
.vetting { background-color: #ffb8f0; }

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu:before {
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}

.notify-badge{
    position: relative;
    right:30px;
    top: -30px;
    background:#d80044;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    color:white;
    padding:5px 5px;
    font-size:10px;
    text-decoration: none;
}

.text-lg {
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

.update-edits-btn{
  font-size: 19px;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  // position:relative;
  // right: -935px;
  background: #f49b2f;
  // text-decoration: none'
}

.update-edits-btn a{
  font-size: 15px;
  color: white;
  padding-bottom: 5px;
  padding-left: 3px;
}
