body { padding: 2ex; }

.dead { background-color: #ffcccc; }
.development { background-color: #b3d9ff; }
.in_use  { }
.in_use_and_wants_improvement  { background-color: #b3ffb3;  }
.inactive_but_wants_improvement  { background-color: #ffff99; }
.defunct { background-color: #ffcccc; }
.pending { background-color: #ffb270; }
.contact_status { background-color: #e0f0ff; }
.app_functionality { background-color: #ffca9d; }
.general { background-color: #ffcccc; }