.page-header
  %h1
    Listing Requests

%table.table.table-condensed#apps_table
  %thead
    %tr
      %th Project Name
      %th Name
      %th Created Time
      %th Details
  %tbody
    - AppEditRequest.featured.each do |request|
      %tr
        %td
          = request.app_name
        %td
          = request.requester_name
        %td
          = request.created_at
        %td
          = link_to "Review", appeditrequests_path(request.id), :class => 'btn btn-primary'