- klass = controller.controller_name
%ul.nav.nav-tabs
  %li= link_to 'Apps', apps_path, :class => ('active' if klass =~ /apps/i)
  %li= link_to 'Orgs', orgs_path, :class => ('active' if klass =~ /orgs/i)
  %li= link_to 'Engagements', engagements_path, :class => ('active' if klass =~ /engagements/i)

